In [1]:
import os

os.chdir("../")

In [2]:
import numpy as np
import pandas as pd

In [3]:
RAW_DATA_PATH = "data/raw"
EXTERNAL_DATA_PATH = "data/external"
INTERESTING_DATASETS = os.path.join(EXTERNAL_DATA_PATH , "interesting_datasets")

<font size = 4><font color= gray>The list of interesting datasets are:</font></font>
    
 - V3.01 D Indice de aridez.xlsx'
 - Variacion Superficie afectada incendios 2018.xls',
 - 5.01 D Proporcion suelos erosion.xlsx',
 - 6.04 D Variación Ecosistemas.xlsx',
 - 3.03 D_ IACAL.xlsx',
 - 4.02 D Cambio bosque Dpto.xlsx',
 - 7.01 D Variacion Respel Generados 2018.xlsx',
 - 6.17_D_RPGenerada según actividad productiva (2007-2018).xlsx',
 - 7.05 D Respel per capita 2018.xlsx',
 - 2.08 D Emisiones GEI.xlsx',
 - 4.02 D Cambio bosque CAR.xlsx',
 - 1.01 D Indice precipitacion.xlsx',
 - 1.03 D Anomalía Temperatura.xlsx',
 - 4.01 D Proporcion cubierta bosques.xlsx',
 - 5.02 D Proporcion suelos salinizacion.xlsx',
 - D Emisiones de GEI percapita.xlsx',
 - 6.05 D Tasa cambio coberturas.xlsx',
 - 6.16_D_RPGenerada según corriente de residuos (2007-2018).xlsx',
 - 4.03 D Tasa deforestacion Dptos.xlsx',
 - 6.01 D Cambio superficie glaciar.xls',
 - 6.23_D_RPManejada según actividad productiva (2009-2018).xlsx',
 - 3.05 D Indice Vunerabilidad Hidrica.xlsx',
 - 3.06 D Demanda hidrica.xlsx'

In [4]:
EXCEL_FILE = '1.01 D Indice precipitacion.xlsx'
EXCEL_FILE_PATH = os.path.join(INTERESTING_DATASETS, EXCEL_FILE) 
print(EXCEL_FILE_PATH)

data/external/interesting_datasets/1.01 D Indice precipitacion.xlsx

In [12]:
pd.read_excel(EXCEL_FILE_PATH, sheet_name=[1], header=2)[1]

,Unnamed: 0,Año,Índice de precipitación Anual,Índice de precipitación mensual,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic
1,NaN,2000.0,107.625672,26.9512,0,175.181,38.3762,120.057,104.638,139.168,113.965,77.8093,117.003,115.22,92.7668
2,NaN,2001.0,102.103523,0,0,14.0224,165.799,70.8917,97.4478,101.178,97.512,165.425,105.258,48.5856,207.266
3,NaN,2002.0,92.200076,125.491,0,126.596,72.9487,136.744,92.687,130.381,108.347,57.8747,26.2895,59.5242,45.086
4,NaN,2003.0,81.112928,0,0,49.1771,148.954,137.938,45.178,79.8893,58.097,89.5986,49.5802,23.6091,302.303
5,NaN,2004.0,96.377841,0,10.929,2.36998,49.5834,72.1983,170.074,127.086,91.4036,108.247,75.5198,47.3094,25.3
6,NaN,2005.0,92.425032,110.331,56.7465,4.34496,118.321,86.9067,93.4422,65.9337,115.213,104.335,122.951,84.0448,31.7872
7,NaN,2006.0,84.455141,608.928,1.68138,160.566,45.9835,127,76.4676,54.2071,104.245,62.1617,47.2311,136.641,64.8719
8,NaN,2007.0,113.399559,0.842223,55.4855,339.105,143.724,98.2927,98.5313,77.628,92.3845,117.947,134.246,117.499,298.735
9,NaN,2008.0,90.748570,5.89556,127.364,18.7623,44.7609,110.239,77.0915,115.844,100.276,90.5632,59.8261,164.443,16.8667
10,NaN,2009.0,94.744228,555.867,7.14586,370.902,93.8689,40.5415,116.885,81.2784,109.729,85.1508,90.9636,36.8266,102.498
11,NaN,2010.0,91.252044,0,18.4952,145.951,56.7832,101.802,89.7977,98.7552,65.008,115.214,78.8685,146.577,34.0577
12,NaN,2011.0,102.633778,508.703,159.311,105.464,79.8768,116.846,125.553,93.7803,91.8941,37.8865,58.3267,201.999,149.53
13,NaN,2012.0,101.053725,0,79.8655,141.409,268.226,165.227,50.6282,92.3589,46.4598,49.1399,119.802,61.2561,50.9244
14,NaN,2013.0,89.564870,0,25.641,161.554,91.0161,94.9703,98.8268,63.414,109.684,95.5469,87.3151,84.0448,24.0026
15,NaN,2014.0,87.958037,0,115.595,0.197498,167.361,50.7703,104.244,72.7177,77.7154,129.2,71.0716,103.279,60.6552
16,NaN,2015.0,97.084848,90.9601,198.823,82.3568,121.31,80.8964,129.296,93.9095,92.3399,84.2399,65.6737,93.7984,111.58
17,NaN,2016.0,96.795618,0,6.30517,10.6649,136.592,129.016,135.435,60.8619,90.9577,77.7557,58.4266,104.464,233.863
18,NaN,2017.0,104.738729,117.911,0,345.03,120.698,89.0719,103.85,85.7687,76.3332,184.074,79.8681,72.7416,46.7078

In [28]:
def merge_geometry_and_data(geometry, data_frame, comon, to_merge_columns): 
  names = geometry.NOMBRE_DPT.apply(lambda x: x.title())
  # new GeoDataFrame with geometry
  geometry_dataframe = gpd.GeoDataFrame(names, crs=crs, geometry=depawgs.geometry)
  data = data_frame[to_merge_columns]
  geometry_dataframe = geometry_dataframe.rename(columns={"NOMBRE_DPT": comon})
  geometry_dataframe = geometry_dataframe.merge(data, on=comon)
  return geometry_dataframe

In [29]:
from sklearn.datasets import fetch_species_distributions

In [30]:
data = fetch_species_distributions()

Downloading species data from https://ndownloader.figshare.com/files/5976075 to /home/christian/scikit_learn_data
Downloading coverage data from https://ndownloader.figshare.com/files/5976078 to /home/christian/scikit_learn_data

In [35]:
data.coverages.shape

(14, 1592, 1212)

In [37]:
type(data.coverages[0])

numpy.ndarray

In [39]:
first_variable = pd.DataFrame(data.coverages[0])

In [41]:
rows = first_variable.shape[0]
cols = first_variable.shape[1]

In [ ]:
data